In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
data_2016 = pd.read_csv("../zillow/train_2016.csv")

data_2017 = pd.read_csv("../zillow/train_2017.csv")

data = [data_2016, data_2017]
data = pd.concat(data)
print(data)

       parcelid  logerror transactiondate
0      11016594  0.027600      2016-01-01
1      14366692 -0.168400      2016-01-01
2      12098116 -0.004000      2016-01-01
3      12643413  0.021800      2016-01-02
4      14432541 -0.005000      2016-01-02
...         ...       ...             ...
77608  10833991 -0.002245      2017-09-20
77609  11000655  0.020615      2017-09-20
77610  17239384  0.013209      2017-09-21
77611  12773139  0.037129      2017-09-21
77612  12826780  0.007204      2017-09-25

[167888 rows x 3 columns]

In [3]:
properties_2016 = pd.read_csv("../zillow/properties_2016.csv")

properties_2017 = pd.read_csv("../zillow/properties_2017.csv")

properties = [properties_2016, properties_2017]
properties = pd.concat(properties)
print(properties)

C:\Users\Erik\AppData\Local\Temp\ipykernel_21768\3408402565.py:1: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  properties_2016 = pd.read_csv("../zillow/properties_2016.csv")
C:\Users\Erik\AppData\Local\Temp\ipykernel_21768\3408402565.py:3: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  properties_2017 = pd.read_csv("../zillow/properties_2017.csv")

         parcelid  airconditioningtypeid  architecturalstyletypeid  \
0        10754147                    NaN                       NaN
1        10759547                    NaN                       NaN
2        10843547                    NaN                       NaN
3        10859147                    NaN                       NaN
4        10879947                    NaN                       NaN
...           ...                    ...                       ...
2985212  12170430                    NaN                       NaN
2985213  11422430                    NaN                       NaN
2985214  17203030                    NaN                       NaN
2985215  14242830                    NaN                       NaN
2985216  12766630                    NaN                       NaN

         basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0                 NaN          0.0         0.0                  NaN
1                 NaN          0.0         0.0                  NaN
2                 NaN          0.0         0.0                  NaN
3                 NaN          0.0         0.0                  3.0
4                 NaN          0.0         0.0                  4.0
...               ...          ...         ...                  ...
2985212           NaN          NaN         NaN                  NaN
2985213           NaN          NaN         NaN                  NaN
2985214           NaN          NaN         NaN                  NaN
2985215           NaN          NaN         NaN                  NaN
2985216           NaN          NaN         NaN                  NaN

         buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
0                          NaN                NaN         NaN  ...
1                          NaN                NaN         NaN  ...
2                          NaN                NaN         NaN  ...
3                          7.0                NaN         NaN  ...
4                          NaN                NaN         NaN  ...
...                        ...                ...         ...  ...
2985212                    NaN                NaN         NaN  ...
2985213                    NaN                NaN         NaN  ...
2985214                    NaN                NaN         NaN  ...
2985215                    NaN                NaN         NaN  ...
2985216                    NaN                NaN         NaN  ...

         numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
0                    NaN            NaN                         NaN
1                    NaN            NaN                         NaN
2                    NaN            NaN                    650756.0
3                    1.0            NaN                    571346.0
4                    NaN            NaN                    193796.0
...                  ...            ...                         ...
2985212              NaN            NaN                         NaN
2985213              NaN            NaN                         NaN
2985214              NaN            NaN                         NaN
2985215              NaN            NaN                         NaN
2985216              NaN            NaN                         NaN

         taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0                      9.0          2015.0                    9.0        NaN
1                  27516.0          2015.0                27516.0        NaN
2                1413387.0          2015.0               762631.0   20800.37
3                1156834.0          2015.0               585488.0   14557.57
4                 433491.0          2015.0               239695.0    5725.17
...                    ...             ...                    ...        ...
2985212                NaN             NaN                    NaN        NaN
2985213                NaN             NaN                    NaN        NaN
2985214                NaN             NaN                    NaN        NaN
2985215                NaN             NaN                    NaN        NaN
2985216                NaN             NaN                    NaN        NaN

         taxdelinquencyflag  taxdelinquencyyear  censustractandblock
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2985212                 NaN                 NaN                  NaN
2985213                 NaN                 NaN                  NaN
2985214                 NaN                 NaN                  NaN
2985215                 NaN                 NaN                  NaN
2985216                 NaN                 NaN                  NaN

[5970434 rows x 58 columns]

In [4]:
keys = properties.keys()
print("num of features ", len(keys))

for key in keys:
    if properties.loc[:, key].isna().sum() > 0:
        print(key)
        percentage =properties.loc[:, key].isna().sum()/len(properties) * 100
        print(percentage)
        print(properties.loc[:, key])
        if percentage > 99:
            properties.drop(key, axis=1, inplace=True)
            

print("num of features ", len(properties.keys()))

num of features  58
airconditioningtypeid
72.75104288900941
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: airconditioningtypeid, Length: 5970434, dtype: float64
architecturalstyletypeid
99.79696618369786
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: architecturalstyletypeid, Length: 5970434, dtype: float64
basementsqft
99.945481350267
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: basementsqft, Length: 5970434, dtype: float64
bathroomcnt
0.24150673133644893
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: bathroomcnt, Length: 5970434, dtype: float64
bedroomcnt
0.24110475050892446
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: bedroomcnt, Length: 5970434, dtype: float64
buildingclasstypeid
99.57524025891585
0          NaN
1          NaN
2          NaN
3          3.0
4          4.0
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: buildingclasstypeid, Length: 5970434, dtype: float64
buildingqualitytypeid
35.01505920675113
0          NaN
1          NaN
2          NaN
3          7.0
4          NaN
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: buildingqualitytypeid, Length: 5970434, dtype: float64
calculatedbathnbr
4.121442427803406
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: calculatedbathnbr, Length: 5970434, dtype: float64
decktypeid
99.4225712904623
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: decktypeid, Length: 5970434, dtype: float64
finishedfloor1squarefeet
93.19186846383361
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: finishedfloor1squarefeet, Length: 5970434, dtype: float64
calculatedfinishedsquarefeet
1.6860080858443458
0              NaN
1              NaN
2          73026.0
3           5068.0
4           1776.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: calculatedfinishedsquarefeet, Length: 5970434, dtype: float64
finishedsquarefeet12
9.052340248631841
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: finishedsquarefeet12, Length: 5970434, dtype: float64
finishedsquarefeet13
99.74301700680385
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: finishedsquarefeet13, Length: 5970434, dtype: float64
finishedsquarefeet15
93.61883909946916
0              NaN
1              NaN
2          73026.0
3           5068.0
4           1776.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: finishedsquarefeet15, Length: 5970434, dtype: float64
finishedsquarefeet50
93.19186846383361
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: finishedsquarefeet50, Length: 5970434, dtype: float64
finishedsquarefeet6
99.27169448653147
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: finishedsquarefeet6, Length: 5970434, dtype: float64
fips
0.24066927127910634
0          6037.0
1          6037.0
2          6037.0
3          6037.0
4          6037.0
            ...
2985212       NaN
2985213       NaN
2985214       NaN
2985215       NaN
2985216       NaN
Name: fips, Length: 5970434, dtype: float64
fireplacecnt
89.51900314114518
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: fireplacecnt, Length: 5970434, dtype: float64
fullbathcnt
4.121442427803406
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: fullbathcnt, Length: 5970434, dtype: float64
garagecarcnt
70.2823111351704
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: garagecarcnt, Length: 5970434, dtype: float64
garagetotalsqft
70.2823111351704
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: garagetotalsqft, Length: 5970434, dtype: float64
hashottuborspa
98.00557212423755
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: hashottuborspa, Length: 5970434, dtype: object
heatingorsystemtypeid
38.4372224866735
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: heatingorsystemtypeid, Length: 5970434, dtype: float64
latitude
0.24066927127910634
0          34144442.0
1          34140430.0
2          33989359.0
3          34148863.0
4          34194168.0
              ...
2985212           NaN
2985213           NaN
2985214           NaN
2985215           NaN
2985216           NaN
Name: latitude, Length: 5970434, dtype: float64
longitude
0.24066927127910634
0         -118654084.0
1         -118625364.0
2         -118394633.0
3         -118437206.0
4         -118385816.0
              ...
2985212            NaN
2985213            NaN
2985214            NaN
2985215            NaN
2985216            NaN
Name: longitude, Length: 5970434, dtype: float64
lotsizesquarefeet
9.192045335397728
0          85768.0
1           4083.0
2          63085.0
3           7521.0
4           8512.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: lotsizesquarefeet, Length: 5970434, dtype: float64
poolcnt
82.2933140203878
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: poolcnt, Length: 5970434, dtype: float64
poolsizesum
99.06341817027037
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: poolsizesum, Length: 5970434, dtype: float64
pooltypeid10
99.09646434413311
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: pooltypeid10, Length: 5970434, dtype: float64
pooltypeid2
98.90910778010443
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: pooltypeid2, Length: 5970434, dtype: float64
pooltypeid7
83.39561244626438
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: pooltypeid7, Length: 5970434, dtype: float64
propertycountylandusecode
0.25586079671930045
0          010D
1          0109
2          1200
3          1200
4          1210
           ...
2985212     NaN
2985213     NaN
2985214     NaN
2985215     NaN
2985216     NaN
Name: propertycountylandusecode, Length: 5970434, dtype: object
propertylandusetypeid
0.24066927127910634
0          269.0
1          261.0
2           47.0
3           47.0
4           31.0
           ...
2985212      NaN
2985213      NaN
2985214      NaN
2985215      NaN
2985216      NaN
Name: propertylandusetypeid, Length: 5970434, dtype: float64
propertyzoningdesc
33.65473933720731
0             NaN
1          LCA11*
2            LAC2
3            LAC2
4            LAM1
            ...
2985212       NaN
2985213       NaN
2985214       NaN
2985215       NaN
2985216       NaN
Name: propertyzoningdesc, Length: 5970434, dtype: object
rawcensustractandblock

0.24066927127910634
0          6.037800e+07
1          6.037800e+07
2          6.037703e+07
3          6.037141e+07
4          6.037123e+07
               ...
2985212             NaN
2985213             NaN
2985214             NaN
2985215             NaN
2985216             NaN
Name: rawcensustractandblock, Length: 5970434, dtype: float64
regionidcity
2.093197914925448
0          37688.0
1          37688.0
2          51617.0
3          12447.0
4          12447.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: regionidcity, Length: 5970434, dtype: float64
regionidcounty
0.24066927127910634
0          3101.0
1          3101.0
2          3101.0
3          3101.0
4          3101.0
            ...
2985212       NaN
2985213       NaN
2985214       NaN
2985215       NaN
2985216       NaN
Name: regionidcounty, Length: 5970434, dtype: float64
regionidneighborhood
61.25670261156893
0              NaN
1              NaN
2              NaN
3          27080.0
4          46795.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: regionidneighborhood, Length: 5970434, dtype: float64
regionidzip
0.44710317541404865
0          96337.0
1          96337.0
2          96095.0
3          96424.0
4          96450.0
            ...
2985212        NaN
2985213        NaN
2985214        NaN
2985215        NaN
2985216        NaN
Name: regionidzip, Length: 5970434, dtype: float64
roomcnt
0.2419254613651202
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: roomcnt, Length: 5970434, dtype: float64
storytypeid
99.94561534387617
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: storytypeid, Length: 5970434, dtype: float64
threequarterbathnbr
89.48170267019114
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: threequarterbathnbr, Length: 5970434, dtype: float64
typeconstructiontypeid
99.77400302892553
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: typeconstructiontypeid, Length: 5970434, dtype: float64
unitcnt
33.697751285752425
0          NaN
1          NaN
2          2.0
3          NaN
4          1.0
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: unitcnt, Length: 5970434, dtype: float64
yardbuildingsqft17
97.28758411867547
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: yardbuildingsqft17, Length: 5970434, dtype: float64
yardbuildingsqft26
99.91134647832972
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: yardbuildingsqft26, Length: 5970434, dtype: float64
yearbuilt
1.8049106647858428
0             NaN
1             NaN
2             NaN
3          1948.0
4          1947.0
            ...
2985212       NaN
2985213       NaN
2985214       NaN
2985215       NaN
2985216       NaN
Name: yearbuilt, Length: 5970434, dtype: float64
numberofstories
77.09136387739987
0          NaN
1          NaN
2          NaN
3          1.0
4          NaN
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: numberofstories, Length: 5970434, dtype: float64
fireplaceflag
99.82704774895761
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: fireplaceflag, Length: 5970434, dtype: object
structuretaxvaluedollarcnt
1.699139459543477
0               NaN
1               NaN
2          650756.0
3          571346.0
4          193796.0
             ...
2985212         NaN
2985213         NaN
2985214         NaN
2985215         NaN
2985216         NaN
Name: structuretaxvaluedollarcnt, Length: 5970434, dtype: float64
taxvaluedollarcnt
1.2866066352965295
0                9.0
1            27516.0
2          1413387.0
3          1156834.0
4           433491.0
             ...
2985212          NaN
2985213          NaN
2985214          NaN
2985215          NaN
2985216          NaN
Name: taxvaluedollarcnt, Length: 5970434, dtype: float64
assessmentyear
0.24071951888254692
0          2015.0
1          2015.0
2          2015.0
3          2015.0
4          2015.0
            ...
2985212       NaN
2985213       NaN
2985214       NaN
2985215       NaN
2985216       NaN
Name: assessmentyear, Length: 5970434, dtype: float64
landtaxvaluedollarcnt
2.13818626920589
0               9.0
1           27516.0
2          762631.0
3          585488.0
4          239695.0
             ...
2985212         NaN
2985213         NaN
2985214         NaN
2985215         NaN
2985216         NaN
Name: landtaxvaluedollarcnt, Length: 5970434, dtype: float64
taxamount
0.904490360332264
0               NaN
1               NaN
2          20800.37
3          14557.57
4           5725.17
             ...
2985212         NaN
2985213         NaN
2985214         NaN
2985215         NaN
2985216         NaN
Name: taxamount, Length: 5970434, dtype: float64
taxdelinquencyflag
98.10772550203218
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: taxdelinquencyflag, Length: 5970434, dtype: object
taxdelinquencyyear
98.10765850522759
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: taxdelinquencyyear, Length: 5970434, dtype: float64
censustractandblock
2.514239333354996
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2985212   NaN
2985213   NaN
2985214   NaN
2985215   NaN
2985216   NaN
Name: censustractandblock, Length: 5970434, dtype: float64
num of features  46

In [5]:
keys = properties.keys()

for key in keys:
    if properties.loc[:, key].isna().sum() > 0:
        percentage =properties.loc[:, key].isna().sum()/len(properties) * 100
        if percentage > 50 or 'calculated' in key:
            print(key, percentage)

airconditioningtypeid 72.75104288900941
calculatedbathnbr 4.121442427803406
finishedfloor1squarefeet 93.19186846383361
calculatedfinishedsquarefeet 1.6860080858443458
finishedsquarefeet15 93.61883909946916
finishedsquarefeet50 93.19186846383361
fireplacecnt 89.51900314114518
garagecarcnt 70.2823111351704
garagetotalsqft 70.2823111351704
hashottuborspa 98.00557212423755
poolcnt 82.2933140203878
pooltypeid2 98.90910778010443
pooltypeid7 83.39561244626438
regionidneighborhood 61.25670261156893
threequarterbathnbr 89.48170267019114
yardbuildingsqft17 97.28758411867547
numberofstories 77.09136387739987
taxdelinquencyflag 98.10772550203218
taxdelinquencyyear 98.10765850522759

In [ ]:
for key in keys:
    print(key)

for index in range(0, len(properties)):
    if properties.loc[index, 'calculatedfinishedsquarefeet'] is np.nan:
        print("index: %d" % index)
        print("finishedfloor1: " properties.loc[index, 'finishedfloor1squarefeet'])
        print("finished15: " properties.loc[index, 'finishedsquarefeet15'])
        print("finished50: " properties.loc[index, 'finishedsquarefeet50'])